html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
	margin:0;
}

@font-face {
	font-family: "TextRegular";
	src: url("Lora-Regular.ttf");
}

@font-face {
	font-family: "HandWritten";
	src: url("IndieFlower.ttf");
}

@font-face{
	font-family: 'Light';
	src: url('JosefinSlab-Light.ttf');
}

@font-face{
	font-family: 'Regular';
	src: url('JosefinSlab-Regular.ttf');
}

* {
	font-family: sans-serif;
}

h1, h2 { 
    font-family: Light; 
    text-align:center; 
    font-weight:100;
    margin:10px 0;
} 

body, html {
	height: 100%;
}

a {
	font-family: inherit;
	text-decoration: none;
	/*font-style: italic;*/
	color: #31729b;
}

a:hover {
	outline-width:0;
	text-decoration: underline;
}

.button {
	font-size: 13pt;
	font-family: Regular;
	font-style: normal;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	color: inherit;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
}

abbr [title] {
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted;
}

h1 {
	font-size:40px;
}
h2 {
	font-size:34px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
h3,h4,h5,h6 {
	font-weight: 400;
	margin: 10px 0;
}

p {
	line-height: 2;
	font-family: TextRegular;
	letter-spacing: -0.5px;
	font-size: 13pt;
}

p.credit {
	font-size: 10pt;
	font-family: Regular;
	font-weight: 100;
	color: white;
}

.topleft {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 9px;
}

a.nostyle {
	border: 0px;
	text-decoration: none;
}

.flagicon {
	height: 20px;
	margin: 2px;
	border-radius: 5px;
	z-index: 99;
}

.handwritten {
	font-family: HandWritten;
}

.bold {
	font-family: Regular;
	text-align:center; 
    margin:10px 0;
}

.bar {
	width:100%;
	overflow:hidden;
}

.center .bar {
	display:inline-block;
	width:auto;
}

.bar .bar-item{
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	outline:none;
	display:block;
}

.bar .dropdown-hover,.bar .dropdown-click{
	position:static;
	float:left
}

.bar .button {
	white-space:normal;
}

.bar-block .bar-item {
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
}

.bar-block.center .bar-item {
	text-align:center;
}

.block {
	display:block;width:100%;
}

.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.midimg {
    min-width: 100%;
    min-height: 65%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.bgimg {
	background-image: url("../img/IMG_1669.JPG");
}
.flowerimg {
	background-image: url("../img/wallpaper4.jpg");
}
.churchimg {
	background-image: url("../img/church.JPG");
}

.button:hover {
	color:#000!important;
	background-color:#ccc!important;
}

.center {
	text-align:center!important;
}

.justify {
	text-align: justify!important;
}

.top-margin16 {
	margin-top: 16px; 
}
.top-margin24 {
	margin-top: 24px; 
}
.top-margin32 {
	margin-top: 32px; 
}

.container:after, .container:before, .panel:after, .panel:before, .row:after, .row:before, 
.row-padding:after, .row-padding:before, .cell-row:before, .cell-row:after, .clear:after, 
.clear:before, .bar:before, .bar:after {
	content:"";
	display:table;
	clear:both;
}

.col, .half, .third, .twothird, .threequarter, .quarter {
	float:left;
	width:100%;
}

.col.s1{width:8.33333%}.col.s2{width:16.66666%}.col.s3{width:24.99999%}.col.s4{width:33.33333%}
.col.s5{width:41.66666%}.col.s6{width:49.99999%}.col.s7{width:58.33333%}.col.s8{width:66.66666%}
.col.s9{width:74.99999%}.col.s10{width:83.33333%}.col.s11{width:91.66666%}.col.s12{width:99.99999%}FF
@media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}
.col.m5{width:41.66666%}.col.m6,.half{width:49.99999%}.col.m7{width:58.33333%}.col.m8,.twothird{width:66.66666%}
.col.m9,.threequarter{width:74.99999%}.col.m10{width:83.33333%}.col.m11{width:91.66666%}.col.m12{width:99.99999%}}


.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}
.content{max-width:980px;margin:auto}.rest{overflow:hidden}
.display-container{
	position:relative;
}

.grayscale-min{filter:grayscale(50%)}

.jumbo{font-size:70px!important}

.display-skewed{position:absolute;top:50%;left:60%;transform:translate(-20%,-50%);-ms-transform:translate(-20%,-50%)}
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.display-bottomright{position:absolute;top:99%;left:98%;transform:translate(-99%,-98%);-ms-transform:translate(-99%,-98%)}

.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}

.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.hover-opacity-off:hover{opacity:0.75}

.text-white,.hover-text-white:hover{
	color:white!important;
	text-shadow: gray 0.0em 0.0em 10px, gray 0.0em 0.0em 2px, gray 0.0em 0.0em 1px;
}
.round-small{border-radius:2px}.round,.round-medium{border-radius:4px}.round-large{border-radius:8px}.round-xlarge{border-radius:16px}.round-xxlarge{border-radius:32px}
.padding-small{padding:4px 8px!important}.padding{padding:8px 16px!important}.padding-large{padding:12px 24px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}.padding-48{padding-top:48px!important;padding-bottom:48px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}

.white,.hover-white:hover{color:#000!important;background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;background-color:#000!important}
.pale-red,.hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.pale-blue,.hover-pale-blue:hover{color:#000!important;background-color:#e6f5ff!important}
.navy-blue,.hover-navy-blue:hover{color:#000!important;background-color:#e8edfc!important}
.pale-green,.hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.pale-copper,.hover-pale-copper:hover{color:#000!important;background-color:#ecd9c6!important}
.pale-yellow,.hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{color:#757575!important}
.text-light-grey,.hover-text-light-grey:hover,.text-light-gray,.hover-text-light-gray:hover{color:#f1f1f1!important}

.top,.bottom{position:fixed;width:100%;z-index:1}
.bottom{bottom:0}

.hide-small{display:none!important}

@media (max-width:600px){.modal-content{margin:0 10px;width:auto!important}.modal{padding-top:30px}

.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content{position:relative}	
.hide-small{display:none!important}.mobile{display:block;width:100%!important}.bar-item.mobile,.dropdown-hover.mobile,.ropdown-click.mobile{text-align:center}
.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}}
